<h3><%= @post.title %></h3>
<p><strong><%= @post.body%></strong></p>
<em><%= @post.poster.username %></em>
<br>
<form class="" action="comment" method="post">

</form>
<%if @comments %>
<% @comments.each do |comment| %>
  <%= comment.comment_body %>
  <%= comment.rating %>
  <form class="" action="/comments/:id/rating" method="post">
  <input type="submit" name="" value="^">
  <input type="submit" name="" value="v">
  </form>
  <hr>
  <%end  %>
<%end  %>
